ul {
    width: 100%; 
    max-width: 1000px; 
    border: 2px solid black; 
    padding: 25px; 
    margin: 20px;
    margin-left: 9.375rem; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    background: rgba(0, 0, 0, 0.5); 
}

ul li {
    margin-bottom: 15px; /* Añade espacio entre cada <li> */
}